{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Iniciar sesión{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <form method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Usuario</label>
                <input type="text" class="form-control" name="username" id="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <input type="submit" class="btn btn-primary" value="Iniciar sesión">
        </form>
    </div>
</div>
{% endblock %}